.left-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    overflow: hidden;
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    margin-right: 16px;
    background: #fff;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 16px 0;
}

aside {
    width: 250px;
    min-width: 250px;
    height: 100vh;
    position: fixed;
    border: 0;
    background-color: #AAC8A9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 上方 logo + nav / 下方登出 */
    padding-bottom: 20px;
}


.right-layout {
    flex: 1;
    padding: 32px;
    margin-left: 250px;
    /* max-width: 1200px; */
    width: 100%;
    overflow-x: auto;
    display: flex;
    /* justify-content: center; */
}
.right-content {
  width: 100%;
  max-width: 1200px; 
}

.main-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-button button {
    font-size: 20px;
    color: #ffffff;
    width: 250px;
    height: 60px;
    box-sizing: border-box;
    background: #AAC8A9;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.main-button button:hover {
    background: #b4cfb3;
    color: #ffffff;
    box-shadow: 0 2px 8px #c2c2c2;
    border-color: #ffffff;
}

.main-button .active button {
    background: #b4cfb3;
    color: #ffffff;
    border-color: #ffffff;
}

.main-button .logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button {
    display: flex;
    justify-content: center;
}

.logout-button button {
    font-size: 20px;
    color: #ffffff;
    width: 250px;
    height: 60px;
    background: #AAC8A9;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.logout-button button:hover {
    background: #b4cfb3;
    color: #ffffff;
    box-shadow: 0 2px 8px #c2c2c2;
    border-color: #ffffff;
}